<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WestPac User Story TestSuite">
  <test name="1. Test KiwiSaver Retirement Calculator information icon">
    <classes>
      <class name="Test.TestWestPacUserStory1"/>
    </classes>
  </test>
    <test name="2. Test KiwiSaver Retirement Calculations">
        <classes>
            <class name="Test.TestWestPacUserStory2"/>
        </classes>
    </test>
</suite>
